.git
**/.venv
**/venv
**/env
**/__pycache__
**/*.py[cod]
**/*.pyc
**/node_modules
**/.next
.env
**/.env
!**/.env.example
**/.idea
**/.vscode
**/Thumbs.db
**/.DS_Store
*.egg-info
**/samplelog.txt
failure_analyzer_worker/980.txt
web/**/*.log
